@page {
  size: A4;
  margin: 0;
}

@media screen ,print{
body{
  font-family: 'Roboto', sans-serif !important;
  font-size: small !important;
  @media (max-width:768px) {
    font-size: xx-small !important;
  }
  .resume-section{
    padding:15px;
    .basic-information{
      margin-bottom: 2%;
      text-align: right;
      @media(max-width:768px) {
        text-align: center;
      }
      .name-font{
        font-size: 750%;
      }
      .same-line{
        line-height: 1;
      }
      .ft110{
        color: rgb(128, 128, 128);
        font-size:110%;
      }
    }
    td{
      float: left !important;
      border:transparent !important;
    }
    td:nth-child(2){
      padding-right:5%;
      p{
        color:#00bfff;
        text-align: right;
        @media (max-width: 768px) {
          text-align: left;
        }
      }
      p.experience-label{
        color:#ff3399;
      }
      p.skills-label{
        color:rgba(128, 128, 128, 0.37);
      }
      p.education-label{
        color:#ff9900;
      }
      p:first-child{
        font-size: 120%;
        font-weight: bolder;
      }
      p:nth-child(2){
        font-size: 120%;
        font-weight: bold;
      }
    }
    td:last-child{
      p{
        font-size: 110%;
        font-weight: 500;
        text-align:justify!important;
        margin-bottom: 2% !important;
      }

      p.ref-text{
        text-align: center!important;
      }
      p:last-child{
        margin-bottom: 0 !important;
      }
    }
    td:first-child{
      font-size: 150%;
      text-align: right;
      @media(max-width: 768px){
        font-size: 135%;
        text-align: left;
      }
      color: rgba(128, 128, 128, 0.96);
      font-weight: bold;
      padding-right: 5%;
    }
    .make-bolder{
      font-weight: 700 !important;
      font-size: 120%!important;
    }
  }
}
p{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
}